body {
	background-color: #EEE;
}

button {
	border: none;
	background: none;
	margin-right: 10px;
	padding: 4px;
	font-weight: bold;
	width: 100%;
	text-align: left;
}

tr.topics button {
	text-align: center;
}

input[type="text"] {
	background-color: #CCC;
	border: none;
	width: 90%;
	padding: 4px;
}

table.file {
	border-collapse:collapse;
	/* width: 378px; */
	width: 100%;
	max-width: 500px;
	table-layout: fixed;
}

table.file thead th {
	border-bottom: solid 2px black;
}

table.file thead ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

table.file thead ul li {
	display: inline-block;
	float: left;
}

table.file thead ul li:last-of-type {
	float: right;
}

table.file tbody tr.main_topic {
	border-top: solid 1px black;
}

td.center {
	text-align: center;
}

div.u-over {
	touch-action: none;
}


button.on {
	color: green;
}

button.off {
	color: black;
}

button.solar {
	color: darkslateblue;
}

button.power {
	color: dodgerblue;
}

button.unten {
	color: purple;
}