table {
	border-collapse:collapse;
}

th {
	border-bottom: solid 2px black;
}

th.border, td.border {
	margin: 1 em;
	border-right: solid 1px black;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

tr.tab:nth-of-type(odd) {
	background-color: #ccc;
}

input {
	width: 60px;
}

.uplot {
	touch-action: none;
}

div {
	margin-left: 20px;
}